#navigation {
   background: none;
   position: absolute;
   right: 0;
   text-align: right;
   top: 100px;
   width: 100%;
   height: 33px;
}

#navigation-end {
   background: url("images/menuconsulta.gif") no-repeat top right transparent;
   height: 60px;
   margin-right: -14px;
   margin-top: -3px;
}

#navigation ul{
   background: url("images/menuconsulta-fim.png") no-repeat -25px 0 #2172AC;
   height: 31px;
   margin-top: -2px;
}

#navigation li{
   width: 146px;
}

#navigation a {
   line-height: 30px;
   padding: 0 10px;
   border-left: 0px;
   font-size: 110%;
}

#navigation .menu-submenu{
   margin-right: -1px;
   width: auto;
}

#navigation .menu-submenu ul{
  border: 1px solid #2172AC;
}

#navigation li .menu-submenu-trigger{
   top: 30px;
}

#navigation li .menu-submenu-trigger {
  background: #2172AC url(images/down-arrow-light.png) center center no-repeat;
  border: 1px solid #032b5c;
  border-top-color: #fff;
}

#navigation li:hover .menu-submenu-trigger:hover {
  background: #5B8CC9 url(images/down-arrow-light.png) center center no-repeat;
}

#navigation .menu-submenu-content ul {
   background: #2172AC;
}

#navigation .menu-submenu-list li {
   background: #2172AC;
}

#navigation .menu-submenu-list li a:hover {
  background: #5B8CC9 ;
}

