#profile-header {
   background-image: url("images/marca-consultapublica.png");
   background-repeat: no-repeat;
   display: block;
   height: 152px;
   position: absolute;
   top: -31px;
   width: 100%;
}

#profile-header p {
   color: #004595;
   font-family: sans-serif;
   font-size: 38px;
   font-weight: lighter;
   padding-left: 10px;
   position: relative;
   top: 55px;
}

#profile-header h1{
   margin-left: 20px; 
   margin-top: 90px;
}
